// out: zad_07g.css

@max: 100%;
@sides: 9%;
@half: 45%;
@a: auto;
@top: 12.5%;

@color1: gray;
@color2: silver;
@color3: whitesmoke;
@color4: black;

body {
  width: @max;
  height: @max;
  .centerMain;
}

#pojemnik {
  .bordered;
  .center;
  .size(82%,75%);
  background-color: azure;
  .position(absolute);
  top: @top;
  .sides(@sides,@sides);
}

#banner, #stopka {
  .bordered;
  .center;
}

#banner {
  background-color: @color1;
  .size(82%,10%);
  .position(absolute);
  .sides(@sides,@sides);
}

#stopka {
  background-color: @color2;
  .size(95.75%,15%);
  .position(absolute);
  .sides(2.125%,2.125%);
  bottom: 3%;
}

#menu {
  background-color: @color2;
  .size(15%,65%);
  .bordered;
  .center;
  float: left;
  margin-left: 2%;
  .position(absolute);
  left: 0;
  top: 2%;
}

#panel {
  background-color: @color2;
  .size(15%,@half);
  .bordered;
  .center;
  float: right;
  margin-right: 2%;
  .position(absolute);
  right: 0;
  top: 2%;
}

#tresc {
  background-color: @color3;
  .size(60%,72.5%);
  .bordered;
  .center;
  .position(absolute);
  top: 2%;
  .sides(20%,20%);
}

.sides(@left-option, @right-option){
  left: @left-option;
  rigth: @right-option;
}

.position(@position-property) {
  position: @position-property;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.bordered {
  border: 1px solid @color4;
}

.centerMain {
  .position(fixed);
  top: @half;
  left: @half;
  transform: translate(-@half, -@half);
}

.center {
  margin-left: @a;
  margin-right: @a;
  margin-top: 10px;
}
