// out: zad_07d.css

@max: 100%;
@sides: 9%;
@half: 50%;
@a: auto;
@top: 12.5%;

@color1: gray;
@color2: silver;
@color3: whitesmoke;
@color4: black;

body {
  .size(@max,@max);
  .centerMain;
}

#banner {
  background-color: @color1;
  .size(82%,10%);
  .bordered;
  .center;
  position: absolute;
  left: @sides;
  right: @sides;
}

#menu {
  background-color: @color2;
  .size(20%,@half);
  .bordered;
  .center;
  float: left;
  margin-left: @sides;
  position: absolute;
  left: 0;
  top: @top;
}

#panel {
  background-color: @color2;
  .size(20%,@half);
  .bordered;
  .center;
  float: right;
  margin-right: @sides;
  position: absolute;
  right: 0;
  top: @top;
}

#tresc {
  background-color: @color3;
  .size(40%,75%);
  .bordered;
  .center;
  float: left;
  margin-left: 30%;
  position: absolute;
  left: 0;
  top: @top;
}

.bordered {
  border: 1px solid @color4;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.centerMain {
  position: fixed;
  top: @half;
  left: @half;
  transform: translate(-@half, -@half);
}

.center {
  margin-left: @a;
  margin-right: @a;
  margin-top: 10px;
}
