// out: zad_07e.css

@max: 100%;
@sides: 9%;
@half: 50%;
@a: auto;
@zero: 0;
@top: 12.5%;

@color1: gray;
@color2: silver;
@color3: whitesmoke;
@color4: black;
@color5: azure;

body {
  .size(@max,@max);
  .centerMain;
}

#pojemnik {
  background-color: @color5;
  .size(60%,80%);
  float: left;
  .bordered;
  .center;
  margin-left: @sides;
  position: absolute;
  left: @zero;
  top: @top;
}

#banner {
  background-color: @color1;
  .size(82%,10%);
  .bordered;
  .center;
  position: absolute;
  left: @sides;
  right: @sides;
}

#menu {
  background-color: @color2;
  .size(25%,85%);
  .bordered;
  .center;
  float: left;
  margin-left: 2%;
  position: absolute;
  left: @zero;
  top: @zero;
}

#panel {
  background-color: @color2;
  .size(20%,@half);
  .bordered;
  .center;
  float: right;
  margin-right: @sides;
  margin-top: 2%;
  position: absolute;
  right: @zero;
  top: @top;
}

#tresc {
  background-color: @color3;
  .size(68%,94%);
  .bordered;
  .center;
  float: right;
  margin-right: 2%;
  margin-bottom: 10%;
  position: absolute;
  right: @zero;
  top: @zero;
}

.bordered {
  border: 1px solid @color4;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.centerMain {
  position: fixed;
  top: @half;
  left: @half;
  transform: translate(-@half, -@half);
}

.center {
  margin-left: @a;
  margin-right: @a;
  margin-top: 10px;
}
