body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}
#banner,
#stopka {
  background-color: gray;
  width: 82%;
  height: 10%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: absolute;
  left: 9%;
  right: 9%;
}
#stopka {
  bottom: 5%;
}
.absoluteCenter {
  position: absolute;
  left: 9%;
  right: 9%;
}
#menu {
  background-color: silver;
  width: 20%;
  height: 40%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: left;
  margin-left: 9%;
  position: absolute;
  top: 12.5%;
  left: 0;
}
#panel {
  background-color: silver;
  width: 20%;
  height: 45%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: right;
  margin-right: 9%;
  position: absolute;
  top: 12.5%;
  right: 0;
}
#tresc {
  background-color: whitesmoke;
  width: 40%;
  height: 68%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: left;
  margin-left: 0.8%;
  margin-bottom: 10%;
  position: absolute;
  top: 12.5%;
  left: 29%;
}
.absoluteTop {
  position: absolute;
  top: 12.5%;
}
.bordered {
  border: 1px solid black;
}
.centerMain {
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
