body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}
#pojemnik {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 82%;
  height: 75%;
  background-color: azure;
  position: absolute;
  top: 12.5%;
  left: 9%;
  rigth: 9%;
}
#banner,
#stopka {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#banner {
  background-color: gray;
  width: 82%;
  height: 10%;
  position: absolute;
  left: 9%;
  rigth: 9%;
}
#stopka {
  background-color: silver;
  width: 95.75%;
  height: 15%;
  position: absolute;
  left: 2.125%;
  rigth: 2.125%;
  bottom: 3%;
}
#menu {
  background-color: silver;
  width: 15%;
  height: 65%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: left;
  margin-left: 2%;
  position: absolute;
  left: 0;
  top: 2%;
}
#panel {
  background-color: silver;
  width: 15%;
  height: 45%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: right;
  margin-right: 2%;
  position: absolute;
  right: 0;
  top: 2%;
}
#tresc {
  background-color: whitesmoke;
  width: 60%;
  height: 72.5%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: absolute;
  top: 2%;
  left: 20%;
  rigth: 20%;
}
.bordered {
  border: 1px solid black;
}
.centerMain {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
