body {
  background-color: silver;
}
body #menu {
  position: fixed;
  background-color: gainsboro;
  border-color: black;
  text-align: center;
  border-style: outset;
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  width: 100%;
}
body #menu span a:link {
  padding: 3px;
  text-decoration: none;
  display: inline-flex;
  border-style: outset;
  color: maroon;
  border-color: black;
}
body #menu span a:hover {
  background-color: white;
  border-style: inset;
}
body #menu span a:visited {
  color: maroon;
  border-color: black;
}
body #tresc {
  position: fixed;
  overflow: scroll;
  height: 100%;
  margin-top: 45px;
}
.link-color {
  color: maroon;
  border-color: black;
}
