// out: zad_06.css

body {
  background-color: dimgray;
}

#okno {
  width: 80%;
  height: 95%;
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#menu {
  display: block;
  width: 200px;
  float: left;
  text-align: center;
}

span {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: azure;
  width: 80%;
  border: 1px solid black;
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
  border-left-color: gray;
  border-top-color: gray;

  a {
    text-decoration: none;
    color: black;
  }
}

span:hover {
  background-color: white;
  border-style: inset;
}

#tresc {
  display: block;
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 3px solid dimgray;
  padding-bottom: 30px;
  background-color: whitesmoke;
  max-height: 75%;
  overflow: auto;
}

#naglowek {
  border: 1px solid black;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

img {
    padding: 5px;
}

#naglowek {
  .gora_i_dol;
  border-bottom: 1px solid black;
  padding-top: 15px;
}

#autor {
  text-align: left;
  width: 100%;
  margin-left: -1px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: smaller;
  text-indent: 10px;
  background-color: silver;
}

#autor:hover {
  background-color: silver;
  border-bottom: 1px solid black;
}

#stopka {
  .gora_i_dol;
  border-top: 1px solid black;
  bottom: 15px;
  background-color: gainsboro;
}

.gora_i_dol {
  display: block;
  color: dimgray;
  padding: 5px;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  text-align: center;
}
