body {
  background-color: gainsboro;
}
#menu {
  display: block;
  position: absolute;
  text-align: center;
  padding-top: 40px;
}
span {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: white;
  width: 80%;
  border: 1px solid black;
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
}
span a {
  text-decoration: none;
  color: maroon;
}
#tresc {
  display: block;
  margin: 0px 50px 0px 200px;
  padding-left: 50px;
  border-left: 3px solid gray;
  padding-top: 30px;
  padding-bottom: 30px;
}
#naglowek {
  display: block;
  background-color: silver;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
  border-bottom: 1px solid black;
  margin-top: -38px;
}
#stopka {
  display: block;
  background-color: silver;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
  border-top: 1px solid black;
  margin-top: -15px;
  bottom: 0px;
}
.gora_i_dol {
  display: block;
  background-color: silver;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
}
