// out: zad_03.css

body {
  background-color: silver;
}

#menu {
  display: block;
  position: absolute;
  text-align: center;
  width: 20%;
  margin-top: 20px;
}

span {
  display: block;
  text-align: center;
}

#tresc {
  display: block;
  margin-left: 200px;
  margin-right: 100px;
  padding-left: 50px;
  border-left: 3px solid black;
}
